services:
  postgres:
    image: 'postgres:latest'
    container_name: postgres_db
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d
    networks:
      - app_network
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
        - PGADMIN_DEFAULT_EMAIL=admin@example.com
        - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - '8082:80'
    depends_on:
       - postgres
    networks:
       - app_network
    restart: unless-stopped

  rabbitmq:
    image: 'rabbitmq:management'
    container_name: rabbitmq
    hostname: rabbitmq
    environment:
      - 'RABBITMQ_DEFAULT_PASS=secret'
      - 'RABBITMQ_DEFAULT_USER=myuser'
    ports:
      - '5672:5672'  # AMQP port (for producers/consumers)
      - '15672:15672'  # Management UI port
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq  # Persistent storage
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 5s
      timeout: 10s
      retries: 5
volumes:
  rabbitmq_data:  # Declares the volume
  postgres_data:
    driver: local

networks:
  app_network:
    driver: bridge